body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #6C7279;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/* Container
============= */
.container {
    width: 100%;
    max-width: 1511px;
    margin: 0 auto;
    padding: 0 5px;
}


/* Header
================== */

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-image: url(../img/intro-bg.jpg);
}

.header.fixed .header__inner {
    padding-bottom: 21px;
    padding-top: 17px;
    border-bottom: 0px;
}

.header.fixed .header__inner .nav__link:after {
    padding-bottom: 5px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 35px 0 0 0;
    border-bottom: 1px solid #BABBC5;

}

.header__logo img {
    height: 25.5px;
    width: auto;
}


.container .header__inner {
    margin: 0px 170px;
}

/* Nav
================== */
.nav {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    padding-right: 20px;
}

.nav__link {
    margin-left: 50px;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.75;
    transition: color 0.5s linear;
    display: inline-block;
    line-height: 18px;
}

.nav__link:after {
    display: block;
    content: "";
    height: 3px;
    border-bottom: 3px solid #E71414;
    padding-bottom: 43px;
    width: 0%;
    transition: width 0.5s ease-in-out;

}

.nav__link:hover:after,
.nav__link:focus:after {
    width: 100%;
}

.nav__link:hover {
    color: #E71414;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

/* intro
================== */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 747px;
    padding-top: 100px;

    background-image: url(../img/intro-bg.jpg);

    background-color: rgba(129, 144, 144, 0.315);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.intro__inner {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0 0 31.43px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway';

    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro__subtitle {
    margin-bottom: 80px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}



/* Button
================== */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.1s linear;
    text-align: center;
}

.btn--red {

    background-color: #FF4343;
}

.btn--red:hover {
    background-color: #d23d3d;
}

.btn--long {
    min-width: 370px;
}

/* Features */

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 116px 0px 116px;
}

.features_item {
    width: 33.333333%;

    text-align: center;
    padding: 0 31px;
    margin: 43.785px 0;
}

.features_icon {
    width: 100px;
    margin-bottom: 29px;
}

.features_title {
    margin-bottom: 20.43px;

    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #2D3033;
}

.features_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #6C7279;
}

/* Works */

.works {
    display: flex;
    flex-wrap: wrap;
}

.works_item {
    width: 25%;
    height: 340px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    position: relative;
    overflow: hidden;
}

.works_item:hover .works_content {
    opacity: 1;
}

.works_foto {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.works_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(185, 12, 12, 0.8);
    opacity: 0;
    transition: opacity 0.2s linear;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.work_title {
    margin-bottom: 20.57px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF
}

.work_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

/* Team */
.team {
    margin: 114px 0 114px;
}

.team_inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team_item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team_foto {
    margin-bottom: 30px;
    display: block;
    max-width: 100%;
    height: auto;
}

.team_name {
    margin-bottom: 5.29px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D3033;
}

.team_prof {
    margin-bottom: 17.86px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FF4343;
}

.team_text {
    margin-bottom: 37.86px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #6C7279;
}

/*Social */
.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    border: 1px solid #C6CBCD;
    background-color: #FFFFFF;
    transition: background 0.2s linear;
    margin-right: 6px;
}

.social_item:hover {
    background-color: #C6CBCD;

}

.social_item:hover .sociol_icon {

    fill: #000000;

}

.social--footer .social_item {
    background-color: transparent;
    margin-right: 13.5px;
    margin-left: 13.5px;
}



.social--footer .social_item:hover {
    background-color: #ffffff;
}

.sociol_icon {
    display: block;
    height: 18px;
    fill: #C6CBCD;
    transition: fill .3 linear;
}


/* Reviews */

.reviews {
    overflow: hidden;
    /* background-color: #5C3249; */
}

.reviews__slider {
    height: 490px;
    overflow: hidden;
}

.reviews__slider.slick-initialized {
    height: auto;
}

.reviews_item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.reviews_photo {
    width: 50%;
    height: 490px;
    position: relative;
}

.reviews_img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews_content {
    padding-left: 129px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews_text {
    margin-bottom: 20px;
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.reviews_author {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.slick-list {
    background-color: #5C3249;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 -0px;
    bottom: 0;
    right: 0;
    z-index: 2;
    list-style: none;
    padding: 20px;
}

.slick-dots li {
    margin: 0 12.5px;
}

.slick-dots button {
    border: 1px solid #7E5D6F;
    background: #FFFFFF;
    border-radius: 50%;
    width: 14px;
    height: 14px;

    padding: 0;
    cursor: pointer;
    font-size: 0;
    color: transparent;
}

.slick-dots button:focus {
    outline: 0;
}

.slick-dots .slick-active button {
    background-color: #7E5D6F;
}


/* Download */
.download {
    margin: 114px 0;
    text-align: center;
}

.donwload_title {
    margin-bottom: 15.29px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    align-items: center;
    text-align: center;
    color: #000000;
}

.download_text {
    margin-bottom: 50.14px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}


/* Footer */

.footer {

    background-color: #353C65;
}

.footer_inner {
    display: flex;
    flex-wrap: wrap;
    padding: 71px 0;

}

.footer_block {
    padding: 0 15px;
    width: 33.33333%;
    text-align: center;
}

.footer_title {
    margin-bottom: 29px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_addres {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.footer_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
}

/* Copyright */

.copyright {
    padding: 23.86px 0;
    background-color: #2C3154;
}

.copyright_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    text-align: center;
    color: #808080;
}

.copyright_text span {
    color: #FFFFFF;
}

/* Burger */


.burger {
    width: 60px;
    transition-duration: 1s;
    cursor: pointer;
    display: none;
    background: none;
    border: 0;
    padding: 8px 40px;

}

.burger span {
    display: block;

    background-color: #FFFFFF;
    font-size: 0;
    color: transparent;
    position: relative;
    height: 3px;
    width: 24px;

    position: absolute;
    transition-duration: .25s;
    transition-delay: .25s;
}

.burger span:before {
    left: 0;
    position: absolute;
    top: -8px;
    height: 3px;
    width: 24px;
    background-color: #FFFFFF;
    content: "";

    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
}

.burger span:after {
    left: 0;
    position: absolute;
    top: 8px;
    height: 3px;
    width: 24px;
    background-color: #FFFFFF;
    content: "";

    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
}

#navToggle.open span {
    transition-duration: 0.1s;
    transition-delay: .25s;
    background: transparent;
}

#navToggle.open span:before {
    transition: top .25s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(-45deg);
}

#navToggle.open span:after {
    transition: top 0.4s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(45deg);
}


/* Media */

@media (max-width: 1224px) {
    .container .header__inner {
        margin: 0px 0px;
    }



    @media (max-width: 1024px) {

        /* Intro */
        .intro__title {
            font-size: 48px;
            line-height: 56px;
        }

        .nav {
            font-size: 12px;
            line-height: 14px;
            padding-right: 20px;
        }

        .intro__subtitle {
            font-size: 18px;
            line-height: 21px
        }

        .btn--long {
            min-width: 313.15px;
        }

        /* Features */
        .features_title {
            font-size: 18px;
            line-height: 21px;
        }

        .features_text {
            font-size: 14px;
            line-height: 16px;
        }

        .features_icon {
            width: 85px;
        }

        .works_item {
            height: 256.34px;
        }

        .features {
            margin: 78px 0px 80.11px;
        }

        .team {
            margin: 78.22px 0 78.21px;
        }

        .reviews_text {
            font-size: 24px;
            line-height: 32px;
        }

        .reviews_author {
            font-size: 12px;
            line-height: 14px;
        }

        .donwload_title {
            font-size: 24px;
            line-height: 28px;
        }

        .download_text {
            font-size: 14px;
            line-height: 16px;
        }

        .footer_title {
            font-size: 14px;
            line-height: 16px;
        }

        .footer_addres {
            font-size: 14px;
            line-height: 16px;
        }

        .footer_title {
            font-size: 14px;
            line-height: 16px;
        }

        .footer_text {
            font-size: 14px;
            line-height: 16px;
        }

        .copyright_text {
            font-size: 14px;
            line-height: 16px;

        }

        .slick-dots button {
            width: 9.49px;
            height: 9.49px;

        }

        @media (max-width: 900px) and (min-width: 780px) {
            .reviews_img {
                right: -100px;
            }
        }

        @media (max-width: 780px) {

            /* Nav */
            .nav {

                display: none;
                text-align: left;

                width: 100%;
                flex-direction: column;

                background-image: url(../img/intro-bg.jpg);
                background-position: center center;
                background-size: cover;
                /* background-color: rgba(129, 144, 144, 0.315); */
                position: absolute;
                right: 0;
                top: 100%;
            }

            .nav.show {
                display: flex;
                padding-block-end: 115px;
            }

            .nav__link {
                padding: 5px 35px;
                margin: 0;
                font-size: 13px;
                line-height: 15px;
            }

            /* Burger */
            .burger {
                display: block;

                padding: 8px 19px;
            }

            .intro {
                height: auto;
                padding-top: 130px;
                padding-bottom: 30px;
            }

            .features_item {
                width: 50%;
            }

            .works_item {
                width: 50%;
            }

            .features {

                margin: 40px 0px 34.85px;

            }

            .team_item {
                width: 100%;

            }

            .team_foto {
                margin-left: auto;
                margin-right: auto;
            }

            .team {
                margin: 35px 0 41px;
            }

            .reviews_photo {
                width: 100%;
                margin: 15px 0 20px;
                overflow: hidden;
            }

            .reviews_content {
                width: 100%;
                padding-left: 0;
                padding-bottom: 40px;
                text-align: center;
            }

            .donwload_title {
                font-size: 18px;
                line-height: 21px;
            }

            .download_text {
                font-size: 13px;
                line-height: 15px;
            }

            .download {
                margin: 45px 0;
            }


            .footer_inner {
                padding: 33.14px 0;
            }

            .footer_block {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 34px;
            }

            .footer_block:last-child {
                margin-bottom: 0;
            }

            .header__inner {
                border-bottom: 0px solid #BABBC5;
                padding: 25px 0 0 0;
            }


        }

        @media (max-width: 500px) {
            .reviews_img {
                right: -100px;
            }

            .header__logo img {
                height: 14.35px;
                width: auto;
            }
        }

        @media (max-width: 320px) {
            .intro__title {
                font-size: 36px;
                line-height: 42px
            }

            .intro {
                height: auto;
                padding-top: 150px;
                padding-bottom: 40px;
            }

            .intro__subtitle {
                font-size: 14px;
                line-height: 16px;
            }

            .btn--long {
                min-width: 279.24px;
            }

            .features_item {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                margin: 41.47px 0;
            }

            .features_icon {
                width: 75.56px;
            }

            .works_item {

                height: 160px;

            }
        }
    }
}